/*Reset Basico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    overflow: hidden;
}