/* Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 1rem 0rem ;
    font-size: 0.8rem;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

th {
    font-size: 0.9rem; 
    color: var(--text-light); 
    text-transform: uppercase; 
}