.formulario-page {
  background-color: #f1f5f9;
  min-height: 100vh;
  padding: 2rem;
}

.formulario-page__title {
  font-size: 3rem;
  color: #1A1A1A;
  margin-bottom: 1.5rem;
}

.formulario-page__list {
  list-style: None;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formulario-page__item {
  background-color: white;
  border-radius: 9px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(222, 23, 23, 0.1);
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.formulario-page__item:hover {
  transform: translateY(-2px);
  
}

.formulario-page__button {
  background-color: #1A1A1A;
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin:1rem;

}

.formulario-page__button:hover {
  background-color: #0e0a0a;
}

@media (max-width: 768px) {
  .formulario-page {
    padding: 1rem;
  }
  
  .formulario-page__title {
    font-size: 1.5rem;
  }
  .formulario-page__item {
    padding: 4rem;
  }
}